<div class="navigation-wrapper">

    <!-- Header -->
    <div class="navigation-header">
    </div>

    <!-- Content -->
    <div
        class="navigation-content"
        #navigationContent>

        <!-- Content header -->
        <div class="navigation-content-header">
        </div>

        <!-- Items -->
        <ng-container *ngFor="let item of navigation;">
            <!-- Skip the hidden items -->
            <div
                class="basic-item item-wrapper">

                <!-- Item with an internal link -->
                <a
                    class="item"
                    [routerLink]="[item.link]">
                    <div class="item-title-wrapper">
                        <div class="item-title">
                            <span>
                                {{item.title}}
                            </span>
                        </div>
                        <ng-container *ngIf="item.subtitle">
                            <div class="item-subtitle">
                                <span>
                                    {{item.subtitle}}
                                </span>
                            </div>
                        </ng-container>
                    </div>
                
                    <!-- Badge -->
                    <ng-container *ngIf="item.badge">
                        <div class="item-badge">
                            <div
                                class="item-badge-content"
                                [ngClass]="item.badge.classes">
                                {{item.badge.title}}
                            </div>
                        </div>
                    </ng-container>
                </a>

            </div>

        </ng-container>

        <!-- Content footer -->
        <div class="navigation-content-footer">
        </div>

    </div>

    <!-- Footer -->
    <div class="navigation-footer">
    </div>

</div>